@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.img-comp-slider::after,
.img-comp-slider::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-bottom:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-compare:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-footer-clock:before {
  content: "\e904";
}

._icon-footer-email:before {
  content: "\e905";
}

._icon-footer-location:before {
  content: "\e906";
}

._icon-footer-phone:before {
  content: "\e907";
}

._icon-location:before {
  content: "\e908";
}

._icon-logo:before {
  content: "\e909";
}

._icon-search:before {
  content: "\e90a";
}

._icon-spoller-arrow:before {
  content: "\e90b";
}

._icon-user:before {
  content: "\e90c";
}

._icon-back:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Kurale";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Kurale";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.adwantage-page__body._active .item-adwantage {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.adwantage-page__body._active .item-adwantage:nth-child(1) {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.adwantage-page__body._active .item-adwantage:nth-child(2) {
  -webkit-transition: -webkit-transform 0.8s ease 0.4s;
  transition: -webkit-transform 0.8s ease 0.4s;
  -o-transition: transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
}

.adwantage-page__body._active .item-adwantage:nth-child(3) {
  -webkit-transition: -webkit-transform 0.8s ease 0.6s;
  transition: -webkit-transform 0.8s ease 0.6s;
  -o-transition: transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
}

.adwantage-page__body._active .item-adwantage:nth-child(4) {
  -webkit-transition: -webkit-transform 0.8s ease 0.8s;
  transition: -webkit-transform 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 200px;
  border: 1px solid #ffd900;
  padding: 15px 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 25px rgba(248, 237, 79, 0.747);
          box-shadow: 0px 0px 25px rgba(248, 237, 79, 0.747);
  color: #634c4c;
  opacity: 0;
}

.button span {
  z-index: 6;
}

.button::after {
  content: "";
  border-top: 1px solid #ffbb00;
  left: -100%;
  border-bottom: 1px solid #ffbb00;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: left 0.9s ease 0s;
  -o-transition: left 0.9s ease 0s;
  transition: left 0.9s ease 0s;
}

.button._active {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease 0.45s;
  -o-transition: opacity 0.8s ease 0.45s;
  transition: opacity 0.8s ease 0.45s;
}

.title {
  font-size: 35px;
  font-weight: 700;
  font-family: "Lobster";
  color: #634c4c;
  letter-spacing: 0.05em;
}

.title:not(:last-child) {
  margin-bottom: 50px;
}

.controll-cosmetics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0px 0px 0px;
}

.controll-cosmetics__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.controll-cosmetics .swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controll-cosmetics .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.controll-cosmetics .swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #bbb9b9;
  border-radius: 50%;
}

.controll-cosmetics .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #e4e708;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.controll-cosmetics .swiper-pagination-bullet-active::after {
  background: #e4e708;
}

.controll-cosmetics .swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  background-color: rgba(236, 228, 228, 0.438);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  z-index: 12;
  position: relative;
}

.header__logo img {
  z-index: 12;
}

.header__logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 11px black;
          box-shadow: 0px 0px 11px black;
}

.header__image {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.menu__link {
  color: #634c4c;
  font-weight: 700;
  letter-spacing: 0.05em;
  position: relative;
  font-size: 18px;
  padding-bottom: 5px;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: rgba(231, 229, 229, 0.623);
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  margin: 0px auto 30px auto;
  border-radius: 50%;
  overflow: hidden;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 30px 0px;
}

.list-social__link img {
  width: 50px;
  height: 50px;
}

.spoller-item-footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
  color: #382f2f;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 22px;
}

.spoller-item-footer__btn:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.spoller-item-footer__btn::before {
  display: none;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 7px 0px;
}

.menu-footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #634c4c;
  font-weight: 700;
  letter-spacing: 0.05em;
  position: relative;
  font-size: 18px;
  padding-bottom: 5px;
}

.menu-footer__link::before {
  margin: 0px 10px 0px 0px;
  font-size: 18px;
}

.menu-footer__link._icon-footer-email::before {
  font-size: 13px;
}

.menu-footer__link._icon-footer-location::before {
  font-size: 20px;
  margin: 0px 15px 0px 0px;
}

.about-page {
  background-color: rgba(236, 228, 228, 0.3);
}

.about-page__container {
  padding-top: 55px;
  padding-bottom: 45px;
}

.about-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.about-page__colums {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.about-page__colums:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.about-page__image {
  padding: 0px 0px 97% 0px;
  border-radius: 50%;
  position: relative;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.about-page__image img {
  border-radius: 50%;
}

.about-page__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px #777227;
          box-shadow: 0px 0px 25px #777227;
}

.about-page__image._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.content-about-page {
  max-width: 450px;
}

.content-about-page__title {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.content-about-page__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.content-about-page__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.content-about-page__text {
  font-size: 25px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.05em;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.content-about-page__text._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.progress-page {
  background-color: rgba(236, 226, 226, 0.664);
}

.progress-page__container {
  padding-top: 50px;
  padding-bottom: 55px;
}

.progress-page__title {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.progress-page__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.progress-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-page__slider {
  padding: 5px 17px 50px 17px;
  margin: 0px -15px;
  position: relative;
}

.progress-page__slide {
  padding: 20px 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 13px #837e47;
          box-shadow: 0px 0px 13px #837e47;
}

.controls-progress__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.controls-progress .swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-progress .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.controls-progress .swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #bbb9b9;
  border-radius: 50%;
}

.controls-progress .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #e4e708;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.controls-progress .swiper-pagination-bullet-active::after {
  background: #e4e708;
}

.controls-progress .swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.controls-progress__arrows {
  position: absolute;
  left: 14px;
  top: 40%;
  width: calc(100% - 28px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}

.slide-progress {
  border-radius: 10%;
  cursor: pointer;
}

.slide-progress__image {
  padding: 0px 0px 115% 0px;
}

.slide-progress__image:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.slide-progress__image img {
  border-radius: 10%;
}

.slide-progress__text {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.05em;
}

.adwantage-page {
  background-color: rgba(236, 228, 228, 0.438);
}

.adwantage-page__container {
  padding-top: 50px;
  padding-bottom: 70px;
}

.adwantage-page__title {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.adwantage-page__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.adwantage-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adwantage-page__body:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.adwantage-page__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23%;
          flex: 1 0 23%;
}

.adwantage-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.adwantage-page__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-adwantage {
  padding: 45px 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20%;
  -webkit-box-shadow: 0px 0px 25px #837f58;
          box-shadow: 0px 0px 25px #837f58;
  min-width: 262px;
  max-width: 300px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.item-adwantage__image {
  width: 120px;
  height: 120px;
}

.item-adwantage__image:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

.item-adwantage__sub-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #634c4c;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.item-adwantage__sub-title:not(:last-child) {
  margin: 0px 0px 18px 0px;
}

.item-adwantage__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.05em;
}

.service-main {
  background-color: rgba(236, 228, 228, 0.3);
}

.service-main__container {
  padding-top: 30px;
  padding-bottom: 40px;
}

.service-main__title {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.service-main__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.service-main__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.service-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.item-serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.item-serv__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding: 0px 0px 20% 0px;
  position: relative;
  -webkit-box-shadow: 0px 15px 30px #acab97;
          box-shadow: 0px 15px 30px #acab97;
}

.item-serv__image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(53, 48, 48, 0.25);
  z-index: 2;
}

.item-serv._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.content-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  position: relative;
}

.content-info__title {
  font-size: 25px;
  font-weight: 700;
  color: #634c4c;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.content-info__title:not(:last-child) {
  margin-bottom: 20px;
}

.content-info__text {
  font-size: 20px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.01em;
  text-decoration: underline;
}

.content-info__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.content-info__button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.content-info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #af9595;
  letter-spacing: 0.01em;
}

.content-info__btn::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0px 0px 0px 10px;
}

.from-to-page {
  background-color: rgba(236, 228, 228, 0.3);
}

.from-to-page__container {
  padding-top: 30px;
  padding-bottom: 35px;
}

.from-to-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.spoller-item-from-to__btn {
  font-size: 25px;
  font-weight: 700;
  font-family: "Lobster";
  text-transform: uppercase;
  color: #634c4c;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.spoller-item-from-to__btn:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

.spoller-item-from-to__btn::before {
  font-size: 15px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.spoller-item-from-to__btn._active::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.spoller-item-from-to__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spoller-item-from-to__box {
  width: 22%;
  min-width: 270px;
}

.img-comp-container {
  position: relative;
  padding: 0px 0px 80% 0px;
  -webkit-box-shadow: 0px 0px 12px #3b3b37;
          box-shadow: 0px 0px 12px #3b3b37;
  margin: 0px 0px 10px 0px;
}

.img-comp-img {
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding: 0px 0px 80% 0px;
}

.img-comp-img::before {
  content: "ПОСЛЕ";
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  top: 10px;
  position: absolute;
  right: 10px;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.img-comp-overlay {
  z-index: 2;
}

.img-comp-overlay::before {
  content: "ДО";
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  top: 10px;
  position: absolute;
  left: 10px;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd900;
  background-color: rgba(255, 255, 255, 0.712);
  opacity: 0.7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-comp-slider::before {
  content: "\e900";
  font-size: 9px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 16px 20px 16px 2px;
}

.img-comp-slider::after {
  content: "\e900";
  font-size: 9px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.contact-page {
  background-color: rgba(236, 228, 228, 0.3);
}

.contact-page__container {
  padding-top: 45px;
  padding-bottom: 45px;
}

.contact-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contact-page__item {
  margin: 0px 10px 0px 0px;
}

.contact-page__image {
  padding: 0px 0px 70% 0px;
}

.item-contact {
  margin-bottom: 30px;
}

.item-contact__sub-title {
  font-size: 27px;
  font-weight: 700;
  color: #634c4c;
  letter-spacing: 0.05em;
}

.item-contact__sub-title:not(:last-child) {
  margin-bottom: 15px;
}

.item-contact__sub-text {
  font-size: 22px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.05em;
  line-height: 150%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.item-contact__sub-text::before {
  margin: 0px 7px 0px 0px;
  font-size: 18px;
}

.item-contact__image img {
  width: 60px;
  height: 60px;
}

.cosmetics-more {
  background-color: rgba(236, 226, 226, 0.664);
}

.cosmetics-more__container {
  padding-top: 40px;
  padding-bottom: 55px;
}

.cosmetics-more__title {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.cosmetics-more__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.cosmetics-more__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cosmetics-more__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

.item-cosmetics {
  background-color: white;
  padding: 25px 20px;
  -webkit-box-shadow: 0px 0px 20px #918f7b;
          box-shadow: 0px 0px 20px #918f7b;
  min-width: 300px;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-radius: 8%;
}

.item-cosmetics._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.item-cosmetics__image {
  padding: 0px 0px 80% 0px;
}

.item-cosmetics__image:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-cosmetics__title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #634c4c;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.item-cosmetics__title:not(:last-child) {
  margin-bottom: 20px;
}

.item-cosmetics__text {
  font-size: 18px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.01em;
  line-height: 120%;
  text-align: center;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page__container {
  position: relative;
}

.main-page__fullscreen {
  position: relative;
}

.main-page__image {
  padding: 0px 0px 40% 0px;
}

.main-page__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin: 0px 15px;
}

.main-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-body {
  padding-top: 115px;
}

.content-body__title {
  font-size: 45px;
  font-weight: 700;
  font-family: "Lobster";
  color: #634c4c;
  letter-spacing: 0.05em;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.content-body__title:not(:last-child) {
  margin-bottom: 35px;
}

.content-body__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.content-body__text {
  font-size: 18px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.05em;
  line-height: 120%;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.content-body__text:not(:last-child) {
  margin-bottom: 45px;
}

.content-body__text._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.25s;
  -o-transition: all 0.8s ease 0.25s;
  transition: all 0.8s ease 0.25s;
}

.welcome-page {
  background-color: rgba(236, 228, 228, 0.438);
}

.welcome-page__container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.welcome-page__title {
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.welcome-page__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.welcome-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.welcome-page__content {
  width: 45%;
}

.content-welcome__slider {
  position: relative;
}

.content-welcome__image {
  padding: 0px 0px 70% 0px;
}

.info-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-welcome__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 25px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.05em;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.info-welcome__text:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.info-welcome__text._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.controls-content-welcome__arrows {
  position: absolute;
  right: 15px;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.slider-arrow {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  border: 2px solid #ffd900;
  background-color: rgba(255, 255, 255, 0.712);
  font-size: 12px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.slider-arrow::before {
  color: #634c4c;
}

.slider-arrow_prev {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider-arrow_next {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.service-page {
  background-color: rgba(236, 226, 226, 0.664);
}

.service-page__container {
  padding-top: 70px;
  padding-bottom: 80px;
}

.service-page__title {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.service-page__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.service-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.service-page__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  position: relative;
}

.item-service__image {
  padding: 0px 0px 90% 0px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0px 15px 30px #acab97;
          box-shadow: 0px 15px 30px #acab97;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.item-service__image:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-service__image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(53, 48, 48, 0.404);
  z-index: 2;
}

.item-service__image._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.item-service__subtitle {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #634c4c;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.item-service__subtitle:not(:last-child) {
  margin-bottom: 20px;
}

.item-service__subtitle._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.info-service {
  display: block;
  text-align: center;
}

.info-service__text {
  font-size: 18px;
  font-weight: 400;
  color: white;
  letter-spacing: 0.01em;
  line-height: 120%;
  text-align: center;
  padding: 0px 15px;
  text-decoration: underline;
}

.info-service__text:not(:last-child) {
  margin-bottom: 10px;
}

.info-service__btn {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding: 5px 13px;
  color: white;
  text-transform: uppercase;
}

.cosmetics-page {
  background-color: rgba(236, 228, 228, 0.438);
}

.cosmetics-page__container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cosmetics-page__slider {
  padding: 5px 20px 25px 20px;
  margin: 0px -20px;
}

.cosmetics-page__slide {
  padding: 30px 20px;
}

.cosmetics-page__button {
  margin: 10px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cosmetics-page__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.slide-cosmetics {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px #acab97;
          box-shadow: 0px 0px 15px #acab97;
  border-radius: 8%;
}

.slide-cosmetics__image {
  padding: 0px 0px 90% 0px;
}

.slide-cosmetics__image:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.slide-cosmetics__title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #634c4c;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.slide-cosmetics__title:not(:last-child) {
  margin-bottom: 20px;
}

.slide-cosmetics__text {
  font-size: 18px;
  font-weight: 400;
  color: #634c4c;
  letter-spacing: 0.01em;
  line-height: 120%;
  text-align: center;
}

@media (min-width: 767.98px) {
  .content-body {
    max-width: 45%;
  }
}

@media (min-width: 1500px) {
  .main-page__image {
    padding: 0px 0px 30% 0px;
  }
}

@media (min-width: 1800px) {
  .main-page__image {
    padding: 0px 0px 25% 0px;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1170px) {
  .button {
    max-width: calc(160px + 40 * ((100vw - 320px) / 850));
  }

  .button {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }

  .title {
    font-size: calc(20px + 15 * ((100vw - 320px) / 850));
  }

  .title:not(:last-child) {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 850));
  }

  .footer__container {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 850));
  }

  .footer__container {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .about-page__container {
    padding-top: calc(30px + 25 * ((100vw - 320px) / 850));
  }

  .about-page__container {
    padding-bottom: calc(25px + 20 * ((100vw - 320px) / 850));
  }

  .content-about-page__text {
    font-size: calc(14px + 11 * ((100vw - 320px) / 850));
  }

  .progress-page__container {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 850));
  }

  .progress-page__container {
    padding-bottom: calc(25px + 30 * ((100vw - 320px) / 850));
  }

  .slide-progress__text {
    font-size: calc(16px + 6 * ((100vw - 320px) / 850));
  }

  .adwantage-page__container {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 850));
  }

  .adwantage-page__container {
    padding-bottom: calc(40px + 30 * ((100vw - 320px) / 850));
  }

  .item-adwantage__sub-title {
    font-size: calc(16px + 9 * ((100vw - 320px) / 850));
  }

  .item-adwantage__text {
    font-size: calc(14px + 6 * ((100vw - 320px) / 850));
  }

  .service-main__container {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .service-main__container {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }

  .content-info__title {
    font-size: calc(18px + 7 * ((100vw - 320px) / 850));
  }

  .content-info__title:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
  }

  .content-info__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .content-info__btn {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .from-to-page__container {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .from-to-page__container {
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / 850));
  }

  .spoller-item-from-to__btn {
    font-size: calc(18px + 7 * ((100vw - 320px) / 850));
  }

  .contact-page__container {
    padding-top: calc(25px + 20 * ((100vw - 320px) / 850));
  }

  .contact-page__container {
    padding-bottom: calc(25px + 20 * ((100vw - 320px) / 850));
  }

  .item-contact {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .item-contact__sub-title {
    font-size: calc(19px + 8 * ((100vw - 320px) / 850));
  }

  .item-contact__sub-title:not(:last-child) {
    margin-bottom: calc(8px + 7 * ((100vw - 320px) / 850));
  }

  .item-contact__sub-text {
    font-size: calc(16px + 6 * ((100vw - 320px) / 850));
  }

  .cosmetics-more__container {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 850));
  }

  .cosmetics-more__container {
    padding-bottom: calc(35px + 20 * ((100vw - 320px) / 850));
  }

  .item-cosmetics__title {
    font-size: calc(14px + 8 * ((100vw - 320px) / 850));
  }

  .item-cosmetics__title:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
  }

  .item-cosmetics__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 850));
  }

  .content-body {
    padding-top: calc(50px + 65 * ((100vw - 320px) / 850));
  }

  .content-body__title {
    font-size: calc(18px + 27 * ((100vw - 320px) / 850));
  }

  .content-body__title:not(:last-child) {
    margin-bottom: calc(15px + 20 * ((100vw - 320px) / 850));
  }

  .content-body__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .content-body__text:not(:last-child) {
    margin-bottom: calc(35px + 10 * ((100vw - 320px) / 850));
  }

  .welcome-page__container {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 850));
  }

  .welcome-page__container {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 850));
  }

  .welcome-page__body {
    gap: calc(15px + 20 * ((100vw - 320px) / 850));
  }

  .info-welcome__text {
    font-size: calc(14px + 11 * ((100vw - 320px) / 850));
  }

  .service-page__container {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 850));
  }

  .service-page__container {
    padding-bottom: calc(50px + 30 * ((100vw - 320px) / 850));
  }

  .item-service__subtitle {
    font-size: calc(14px + 11 * ((100vw - 320px) / 850));
  }

  .item-service__subtitle:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
  }

  .info-service__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 850));
  }

  .info-service__text:not(:last-child) {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 850));
  }

  .cosmetics-page__container {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 850));
  }

  .cosmetics-page__container {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 850));
  }

  .slide-cosmetics__title {
    font-size: calc(14px + 8 * ((100vw - 320px) / 850));
  }

  .slide-cosmetics__title:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
  }

  .slide-cosmetics__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: none) and (max-width: 1170px) {
  .info-service__text:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .info-service__btn {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) and (max-width: 1170px) {
  .info-service__btn {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .main-page__image {
    padding: 0px 0px 58% 0px;
  }

  .content-body {
    padding-top: 160px;
  }
}

@media (max-width: 991.98px) and (max-width: 1170px) {
  .content-body {
    padding-top: calc(50px + 110 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 90px 0px 0px 0px;
    -webkit-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
    z-index: 11;
  }

  .menu__body._active {
    top: 0;
    background-color: rgba(49, 39, 39, 0.8);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .menu__link {
    color: white;
    font-size: 25px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 12;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: #643939;
    border-radius: 50%;
  }

  .icon-menu span:first-child {
    top: 7px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 2px;
  }

  .icon-menu._active span {
    background-color: white;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 6px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spoller-item-footer__btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .spoller-item-footer__btn::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    font-size: 10px;
    color: #382f2f;
    margin: 0px 0px 0px 5px;
    -webkit-transition: -webkit-transform 0.4s ease 0s;
    transition: -webkit-transform 0.4s ease 0s;
    -o-transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .spoller-item-footer__btn._active::before {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .menu-footer__link {
    font-size: 20px;
  }

  .controls-progress__arrows {
    display: none;
  }

  .adwantage-page__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-serv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-serv__image {
    padding: 0px 0px 38% 0px;
  }

  .contact-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-page__fullscreen::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(236, 228, 228, 0.363);
    z-index: 2;
  }

  .welcome-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .welcome-page__content {
    width: 100%;
  }

  .content-welcome__image {
    padding: 0px 0px 60% 0px;
  }

  .info-welcome__text:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .service-page__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .service-page__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .cosmetics-page__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .about-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about-page__image {
    padding: 0px 0px 60% 0px;
    width: 60%;
    margin: 0 auto;
  }

  .service-main__body {
    gap: 35px;
  }

  .item-serv__image {
    padding: 0px 0px 55% 0px;
  }

  .main-page__image {
    padding: 0px 0px 85.5% 0px;
  }

  .controls-content-welcome__arrows {
    gap: 30px;
  }

  .slider-arrow {
    height: 35px;
    width: 35px;
  }

  .service-page__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 0px 0px 45px #ffee00;
            box-shadow: 0px 0px 45px #ffee00;
  }

  .button:hover::after {
    left: 120%;
  }

  .menu__link:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #6b6962;
    bottom: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__link:hover {
    color: #cc8d8d;
  }

  .menu__link:hover:after {
    left: 0;
    width: 100%;
  }

  .menu-footer__link span:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #6b6962;
    bottom: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu-footer__link span:hover {
    color: #cc8d8d;
  }

  .menu-footer__link span:hover:after {
    left: 0;
    width: 100%;
  }

  .content-info__btn:hover {
    color: black;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .item-contact__sub-text span:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #6b6962;
    bottom: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .item-contact__sub-text span:hover {
    color: #cc8d8d;
  }

  .item-contact__sub-text span:hover:after {
    left: 0;
    width: 100%;
  }

  .slider-arrow:hover {
    -webkit-box-shadow: 0px 0px 30px #bd0000;
            box-shadow: 0px 0px 30px #bd0000;
  }

  .info-service {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 15px;
    border-radius: 50%;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }

  .info-service:hover {
    opacity: 1;
    overflow: visible;
  }

  .info-service__btn {
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  .info-service__btn:hover {
    border: 2px solid #ffd900;
    border-radius: 50px;
  }
}

@media (any-hover: none) {
  .info-service {
    opacity: 0;
    -webkit-transform: translate(0px, 90%);
        -ms-transform: translate(0px, 90%);
            transform: translate(0px, 90%);
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .info-service._active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .info-service__text {
    color: #634c4c;
  }

  .info-service__text:not(:last-child) {
    margin-bottom: 25px;
  }

  .info-service__btn {
    font-size: 16px;
    border: 2px solid #ffd900;
    border-radius: 50px;
    color: #634c4c;
    padding: 10px 20px;
  }
}